<!--EMAIL_CONFIRMATION_EN-->
<!DOCTYPE html>
<html lang="en" class="miro" style="background-color:#f3f4f8;font-size:0;line-height:0">

<head xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="font-family:Helvetica,Arial,sans-serif">
    <meta charset="UTF-8" style="font-family:Helvetica,Arial,sans-serif">
    <title style="font-family:Helvetica,Arial,sans-serif">Verification Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" style="font-family:Helvetica,Arial,sans-serif">
    <meta name="viewport" content="width=device-width" style="font-family:Helvetica,Arial,sans-serif">
</head>

<body style="background-color: #e9ecef; display:flex; justify-content: center; align-items:center;">
        <div class="w-100" style="max-width: 600px; border-radius: 5px; background-color: white; border-top: 2px solid blue;">
            <div class="heading" style="padding: 16px; border-bottom: 1px solid rgba(0,0,0, 0.2);"><h1 style="margin: 0; font-size: 32px; font-weight: 700; letter-spacing: -1px; line-height: 48px;">Verify Your Email</h1></div>
            <div class="content" style="padding: 16px; display:flex; flex-direction: column; align-items:center;">
                <p style="margin: 0;">Tap the button below to verify your Email Address</p>
                <a href="{{url}}" target="_blank"
                            style="margin: 30px 0;display: inline-block; padding: 16px 36px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 6px; background-color: blue;">Verify Email</a>
                <div><p style="margin: 0; width: 100%;">If that doesn't work, copy and paste the following link in your browser:</p>
                    <p style="margin: 0;"><a href="{{url}}" target="_blank">{{url}}</a></p></div>
                </div>
                <div class="margin-top: auto; width: 100%;"><p style="margin: 0;">{{site_name}},<br> Team</p></div>
        </div>

    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none;font:15px courier;font-family:Helvetica,Arial,sans-serif;line-height:0;white-space:nowrap">
                                                                                     
                                                 </div>
</body>

</html>